<style>
	.ppinfo .readmore
	{
		-moz-appearance: none;
		background-color: #097ef8;
		border-color: #0665c8;
		border-radius: 3px !important;
		border-style: solid;
		border-width: 0;
		box-shadow: 0.3em 0.3em 0.3em 0.2em #ddd;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
		font-size: 1rem;
		font-weight: normal;
		line-height: normal;
		margin: 0 0 1.25rem;
		padding: 1rem 2rem 1.0625rem;
		position: relative;
		text-align: center;
		text-decoration: none;
		margin-top: 1em;
    }

	.ppinfo h3
	{
		font-size: 150%;
		margin-bottom: 2em;
		margin-top: 2em;
	}
</style>

<div class="ppinfo">

	<p>There are several Broadcast add-on packs that offer a collection of add-ons to make broadcasting easier, saving you even more time.</p>

	<p><a href="https://broadcast.plainviewplugins.com/" class="readmore">Read more about the packs</a></p>

	<div class="section">
		<h3>3rd party pack</h3>

		<p>These add-ons act as glue between Broadcast and plugins from 3rd parties. They automatically detect features and do any extra work necessary to integrate the plugins during broadcasting.</p>

		<ul>
			<li><a href="https://broadcast.plainviewplugins.com/addon/activity-monitor/">Activity Monitor</a>: Adds a Broadcast hook to the <a href="http://wordpress.org/plugins/plainview-activity-monitor/">Plainview Activity Monitor</a>, at the same time disabling post related hooks during broadcasting to prevent unnecessary logging.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/advanced-custom-fields/">Advanced Custom Fields</a>: Adds support for correctly broadcasting various field types using Elliot Condon&#8217;s <a href="http://www.advancedcustomfields.com/">Advanced Custom Fields plugin</a>.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/all-in-one-calendar/">All In One Calendar</a>: Adds support for <a href="http://www.wordpress.org/plugins/all-in-one-event-calendar/">Timely&#8217;s All In One Calendar</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/all-in-one-seo/">All In One SEO</a>: Adds support for the <a href="https://wordpress.org/plugins/all-in-one-seo-pack/">All in One SEO</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/aqua-page-builder/">Aqua Page Builder</a>: Adds support for the <a href="https://wordpress.org/plugins/aqua-page-builder/">Aqua Page Builder plugin</a>.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/avia-layout-builder/">Avia Layout Builder</a>: Adds support for the <a href="http://www.kriesi.at/">Avia Layout Builder plugin from Kriesi.at</a>.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/bbpress/">bbPress</a>: Adds support for <a href="https://wordpress.org/plugins/bbpress/">BBPress</a> forums, topics and replies.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/beaver-builder/">Beaver Builder</a>: Adds support for the <a href="https://www.wpbeaverbuilder.com/">Beaver Builder page builder plugin</a>.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/caldera-forms/">Caldera Forms</a>: Adds support for the <a href="https://wordpress.org/plugins/caldera-forms/">Caldera Forms</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/calendarize-it/">Calendarize It</a>: Adds support for <a href="http://codecanyon.net/item/calendarize-it-for-wordpress/2568439">Calendarize It!</a> events.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/category-order-and-taxonomy-terms-order/">Category Order and Taxonomy Terms Order</a>: Adds support for the <a href="https://wordpress.org/plugins/taxonomy-terms-order/">Category Order and Taxonomy Terms Order plugin</a>.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/cm-tooltip-glossary/">CM Tooltip Glossary</a>: Adds support for the <a href="https://wordpress.org/plugins/enhanced-tooltipglossary/">CM Tooltip Glossary</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/contact-form-7/">Contact Form 7</a>: Adds support for <a href="https://wordpress.org/plugins/contact-form-7/">Takayuki Miyoshi's Contact Form 7</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/create/">Create</a> adds support for the <a href="https://wordpress.org/plugins/mediavine-create/">Create</a> plugin from Mediavine.<li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/divi-builder/">Divi Builder</a>: Adds support for <a href="https://www.elegantthemes.com/plugins/divi-builder/">Divi Builder</a> and themes using it.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/download-manager/">Download Manager</a>: Adds support for the <a href="https://wordpress.org/plugins/download-manager/">Download Manager</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/download-monitor/">Download Monitor</a>: Adds support for downloads and shortcodes from <a href="https://wordpress.org/plugins/download-monitor/">Never5's Download Monitor</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/elementor/">Elementor</a>: Adds support for the <a href="https://wordpress.org/plugins/elementor/">Elementor Page Builder plugin</a>.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/eventon/">EventOn</a>: Adds support for Ashan Jay's <a href="http://www.myeventon.com/">EventON</a> plugin with tickets.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/event-organiser/">Event Organiser</a>: Adds support for Stephen Harris’ <a href="http://wordpress.org/plugins/event-organiser/">Event Organiser plugin</a>, with events and venues.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/events-manager/">Events Manager</a>: Adds support for the <a href="https://wordpress.org/plugins/events-manager/">Events Manager</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/event-organiser/">Event Organiser</a>: Adds support for Stephen Harris&#8217; <a href="http://wordpress.org/plugins/event-organiser/">Event Organiser plugin</a>, with events and venues.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/fliphtml5/">Flip HTML5</a>: Adds support for <a href="http://fliphtml5.com/">Flip HTML5</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/foogallery/">FooGallery</a>: Adds support for <a href="https://wordpress.org/plugins/foogallery/">FooPlugins&#8217; FooGallery</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/formidable-forms/">Formidable Forms</a>: Adds support for the <a href="https://wordpress.org/plugins/formidable/">Formidable</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/generatepress/">GeneratePress</a> adds support for the <a href="https://generatepress.com/">GeneratePress</a> theme / plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/geo-my-wp/">GEO my WordPress</a>: Adds support for Eyal Fitoussi&#8217;s <a href="https://wordpress.org/plugins/geo-my-wp/">GEO my WordPress</a> geolocation plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/geodirectory/">Geodirectory</a>: Adds support for <a href="https://wordpress.org/plugins/geodirectory/">Geodirectory</a> places.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/global-blocks-for-cornerstone/">Global Blocks For Cornerstone</a>: Adds support for the <a href="https://wordpress.org/plugins/global-blocks-for-cornerstone/">Global Blocks for Cornerstone</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/global-content-blocks/">Global Content Blocks</a>: Adds support for shortcodes from <a href="https://wordpress.org/plugins/global-content-blocks/">WP Xpert&#8217;s Global Content Blocks</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/goodlayers/">GoodLayers</a>: Adds support for the <a href="https://goodlayers.com/">GoodLayers family of themes</a>.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/google-maps-pro/">Google Maps Pro</a>: Adds support for the <a href="https://premium.wpmudev.org/project/wordpress-google-maps-plugin">Google Maps Pro</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/gravity-forms/">Gravity Forms</a>: Adds support for the <a href="http://www.gravityforms.com/">Gravity Forms</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/h5p/">H5P</a>: Adds support for the <a href="https://wordpress.org/plugins/h5p/">H5P Interactive Content</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/image-map-pro/">Image Map Pro</a>: Adds support for the <a href="https://codecanyon.net/item/image-map-pro-for-wordpress-interactive-image-map-builder/2826664">Image Map Pro</a> plugin.</a>
			<li><a href="https://broadcast.plainviewplugins.com/addon/imagify/">Imagify</a>: Adds support for the <a href="https://wordpress.org/plugins/imagify/">Imagify</a> plugin / service.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/inboundnow/">Inbound Now</a>: Adds support for the <a href="https://www.inboundnow.com/">Inboundnow Marketing Suite</a>.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/intagrate/">Intagrate</a>: Adds support for the <a href="https://intagrate.io/">Intagrate</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/jetpack/">Jetpack</a>: Adds support for <a href="https://wordpress.org/plugins/jetpack/">Automattic's Jetpack plugin</a>.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/learndash">LearnDash</a>: Adds support for the <a href="https://www.learndash.com/">LearnDash LMS</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/litespeed-cache/">LiteSpeed Cache</a>: Adds support for the <a href="https://wordpress.org/plugins/litespeed-cache/">LiteSpeed Cache</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/mailster/">Mailster</a>: Adds support for the <a href="https://codecanyon.net/item/mailster-email-newsletter-plugin-for-wordpress/3078294">Mailster</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/metaslider/">Metaslider</a>: Adds support for <a href="https://www.metaslider.com/">Metaslider</a> shortcodes.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/modern-events/">Modern Events</a>: Adds support for the <a href="https://wordpress.org/plugins/modern-events-calendar-lite/">Modern Events plugin</a>.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/ninja-forms/">Ninja Forms</a>: Adds support for the <a href="https://wordpress.org/plugins/ninja-forms/">Ninja Forms</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/ns-cloner/">NS Cloner</a>: Adds support for the <a href="https://wordpress.org/plugins/ns-cloner-site-copier/">NS Cloner</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/onesignal/">OneSignal</a>: Adds support for the <a href="https://wordpress.org/plugins/onesignal-free-web-push-notifications/">OneSignal – Free Web Push Notifications</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/permalink-manager/">Permalink Manager</a>: Adds support for the <a href="https://wordpress.org/plugins/permalink-manager/">Permalink Manager</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/pods/">Pods</a>: Adds support for the <a href="https://www.pods.io/">Pods - Custom Content Types and Fields</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/polylang/">Polylang</a>: Adds support for Broadcasting posts in different languages using Frédéric Demarle&#8217;s <a href="https://wordpress.org/plugins/polylang/">Polylang</a> translation plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/post-expirator/">Post Expirator</a>: Adds support for Aaron Axelsen's <a href="https://wordpress.org/plugins/post-expirator/">Post Expirator</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/rank-math-seo/">Rank Math SEO</a>: Adds support for the <a href="https://wordpress.org/plugins/seo-by-rank-math/">Rank Math SEO</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/search-and-filter/">Search And Filter</a>: Adds support for the <a href="https://searchandfilter.com/">Search And Filter</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/sensei/">Sensei</a>: Adds support for the <a href="https://woocommerce.com/products/sensei/">Sensei</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/simple-custom-post-order/">Simple Custom Post Order</a>: Adds support for the <a href="https://wordpress.org/plugins/simple-custom-post-order/">Simple Custom Post Order</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/slider-revolution/">Slider Revolution</a>: Adds support for the <a href="https://revolution.themepunch.com/">Slider Revolution</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/smart-slider-3/">Smart Slider 3</a>: Adds support for the <a href="https://wordpress.org/plugins/smart-slider-3/">Smart Slider 3</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/soliloquy/">Soliloquy</a> adds support for the <a href="https://soliloquywp.com/">Soliloquy plugin</a>.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/tablepress/">TablePress</a>: Adds support for broadcasting <a href="https://wordpress.org/plugins/tablepress/">TablePress</a> shortcodes.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/tao-schedule-update/">Tao Schedule Update</a>: Adds support for <a href="https://wordpress.org/plugins/tao-schedule-update/">Tao Schedule Update</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/the-events-calendar/">The Events Calendar</a>: Adds venue and organiser support for Modern Tribe&#8217;s <a href="https://wordpress.org/plugins/the-events-calendar/">The Events Calendar </a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/toolset/">Toolset</a>: Adds support for <a href="https://wp-types.com/">OnTheGoSystems&#8217; Toolset</a> plugins: CRED, Types and Views.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/translatepress/">TranslatePress</a>: Adds support for the <a href="https://wordpress.org/plugins/translatepress-multilingual/">TranslatePress</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/ubermenu/">UberMenu</a>: Adds support for the <a href="https://wpmegamenu.com/">UberMenu</a> menu plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/ultimate-member/">Ultimate Member</a>: Adds support for the <a href="https://wordpress.org/plugins/ultimate-member/">Ultimate Member</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/unyson/">Unyson</a>: Adds support for the <a href="https://wordpress.org/plugins/unyson/">Unyson page builder plugin</a>.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/user-access-manager/">User Access Manager</a>: Adds support for the <a href="https://wordpress.org/plugins/user-access-manager/">User Access Manager</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/vimeography/">Vimeography</a>: Adds support for the <a href="https://wordpress.org/plugins/vimeography/">Vimeography</a> plugin.</a>
			<li><a href="https://broadcast.plainviewplugins.com/addon/woocommerce/">WooCommerce</a>: Adds support for <a href="https://wordpress.org/plugins/woocommerce/">WooCommerce</a> extended features.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/wpcustom-category-image/">WPCustom Category Image</a>: Adds support for the <a href="https://wordpress.org/plugins/wpcustom-category-image/">WPCustom Category Image</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/wp-all-import/">WP All Import</a>: Adds support for post updates from Soffly's <a href="http://www.wpallimport.com/">WP All Import Pro</a>.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/wpforms/">WPForms</a>: Adds support for the <a href="https://wpforms.com/">WPForms</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/wplms/">WPLMS</a>: Adds support for Vibethemes' <a href="https://themeforest.net/item/wplms-learning-management-system/6780226">WPLMS theme</a>.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/wpml/">WPML</a>: Adds support for <a href="http://wpml.org/">ICanLocalize&#8217;s WPML</a> translation plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/wp-rocket/">WP Rocket</a>: Adds support for the <a href="https://wp-rocket.me/">WP Rocket</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/wp-ultimate-recipe/">WP Ultimate Recipe</a>: Adds support for recipes and ingredients from <a href="http://bootstrapped.ventures">Bootstrapped Ventures’</a> <a href="http://bootstrapped.ventures">WP Ultimate Recipe</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/wp-ultimo/">WP Ultimo</a>: Adds support for the <a href="https://wpultimo.com/">WP Ultimo</a> plugin.</a>
			<li><a href="https://broadcast.plainviewplugins.com/addon/yoast-seo/">Yoast SEO</a>: Adds support for the <a href="https://wordpress.org/plugins/wordpress-seo/">Yoast SEO</a> plugin.</li>
		</ul>
	</div>

	<div class="section">
		<h3>Control pack</h3>

		<p>These add-ons give you extra control of what you broadcast and how.</p>

		<ul>
			<li><a href="https://broadcast.plainviewplugins.com/addon/all-blogs/">All Blogs</a> gives all users access to all of the blogs in the network.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/all-blogs/">All Blogs Superadmin</a> allows only superadmins to broadcast to all blogs in the network without having to be a user of the blog.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/all-images/">All Images</a> detects all referenced local images in post text fields and adds them to the broadcast.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/attachment-control/">Attachment Control</a> allows better control of how attachments are handled during broadcasting.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/attachment-shortcodes/">Attachment Shortcodes</a> copies attachments specified in custom shortcodes.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/back-to-parent/">Back To Parent</a> updates the parent post with the new child content.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/comments/">Comments</a>: Adds support for broadcasting of comments.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/custom-field-attachments/">Custom Field Attachments</a> allows post custom field containing attachment IDs to be broadcasted correctly.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/custom-field-posts/">Custom Field Posts</a>: Allow post custom field containing post IDs to be broadcasted correctly.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/custom-field-terms/">Custom Field Terms</a>: Allow post custom field containing taxonomy term IDs to be broadcasted correctly.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/delete-before-broadcast/">Delete Before Broadcast</a> deletes duplicate and similar child posts on each blog before broadcasting</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/gutenberg-attachments/">Gutenberg Attachments</a>: Modify attachment IDs found in Gutenberg blocks to match their equivalent attachments on each blog.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/gutenberg-menus/">Gutenberg Menus</a>: Modify menu IDs found in Gutenberg blocks to match their equivalent attachments on each blog.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/gutenberg-posts/">Gutenberg Posts</a>: Modify post IDs found in Gutenberg blocks to match their equivalent attachments on each blog.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/gutenberg-protect/">Gutenberg Protect</a>: Protects specific Gutenberg blocks from being overwritten during broadcasting.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/gutenberg-terms/">Gutenberg Terms</a>: Modify taxonomy term IDs found in Gutenberg blocks to match their equivalent attachments on each blog.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/hreflang/">Hreflang</a>: Adds support for <a href="https://en.wikipedia.org/wiki/Hreflang">SEO-friendly hreflang html tags</a>.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/keep-child-status/">Keep Child Status</a> keeps the status of post children to private, pending, published, draft, no matter the status of the parent.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/link-before-broadcast/">Link Before Broadcast</a> attempts to find unlinked children on each child blog during broadcast.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/local-files/">Local Files</a> automatically copies local files to each blog and updates the links in the content.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/local-links/">Local Links</a> automatically updates links to local posts on each child blog.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/more-children/">More Children</a>: Allows children to create more children of the parent.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/no-new-terms/">No New Terms</a> prevents taxonomy terms from being created on child blogs.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/parent-pull/">Parent Pull</a> allows content to be pulled from (parent) blogs.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/per-blog-taxonomies/">Per Blog Taxonomies</a> allows individual control of specific taxonomies for each child post.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/permalinks/">Permalinks</a> provides more precise control of permalinks for both parents and children.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/protect-child-properties/">Protect Child Properties</a> prevent various properties of child posts from being overwritten.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/redirect-all-children/">Redirect All Children</a> redirects single post views from visitors of child posts to the parent post.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/redirect-parent/">Redirect Parent</a> redirect all views of a parent post to the first child post.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/scheduler/">Scheduler</a>: Automatically change the publish date of child posts during broadcasting.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/search-and-replace/">Search And Replace</a> finds and replaces texts in posts during broadcast.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/shortcode-attachments/">Shortcode Attachments</a> modifies attachment IDs found in shortcodes to match their equivalent attachments on each blog.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/shortcode-menus/">Shortcode Menus</a> modifies menu IDs found in shortcodes to match their equivalent menus on each blog.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/shortcode-posts/">Shortcode Posts</a>: Modifies post IDs found in shortcodes to match their equivalent posts on each blog.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/shortcode-terms/">Shortcode Terms</a> automatically translates taxonomy term IDs found in shortcodes when broadcasting.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/taxonomy-term-attachments/">Taxonomy Term Attachments</a>: Allow taxonomy term meta containing attachment IDs to be broadcasted correctly.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/term-meta-attachments//">Term Meta Attachments</a>: Allow taxonomy term meta containing attachment IDs to be broadcasted correctly.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/thumbnail-sizes/">Thumbnail Sizes</a> allows for different additional thumbnail sizes on a per-blog basis.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/unlink-on-edit/">Unlink On Edit</a>: Unlinks child posts when they are modified.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/update-attachments/">Update Attachments</a> updates existing attachments by copying over the files to the child blogs.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/update-family/">Update Family</a> updates the parent post and siblings when editing a child post.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/user-blog-settings/">User &amp; Blog Settings</a> (UBS) can hide the broadcast meta box and/or menu, modify the meta box to force/prevent broadcast to blogs, with separate settings for users / blogs / roles.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/user-blog-settings-post/">User &amp; Blog Settings Post</a> uses the modifications from the UBS plugin to broadcast posts with one click.</li>
		</ul>
	</div>

	<div class="section">
		<h3>Efficiency pack</h3>

		<p>These add-ons allow you to broadcast more efficiently, saving you even more time.</p>

		<ul>
			<li><a href="https://broadcast.plainviewplugins.com/addon/blog-groups-2/">Blog Groups 2</a> provides a means of grouping blogs together, in order to be able to quickly select and unselect blogs from the Broadcast meta box.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/duplicate-attachments/">Duplicate Attachments</a> will duplicate the attachment and thumbnails, instead of letting WordPress regenerate them.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/find-some-unlinked-children/">Find Some Unlinked Children</a> can selectively link orphans / unlinked posts to parents, instead of automatically linking all found children.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/new-blog/">New Blog Broadcast</a> automatically broadcasts posts when creating a new blog.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/purge-children/">Purge Children</a> removes children and their attached files from child blogs.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/queue/">Queue</a>: Adds a broadcast queue which helps to broadcast posts to tens / hundreds / more blogs.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/rebroadcast/">Rebroadcast</a> updates selected parent posts by using a bulk action.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/send-to-many/">Send To Many</a> allows mass broadcast of several posts to blogs at once.</li>
		</ul>
	</div>

	<div class="section">
		<h3>Utilities pack</h3>

		<p>These add-ons do things semi-related to broadcasting, but are good to have none-the-less.</p>

		<ul>
			<li><a href="https://broadcast.plainviewplugins.com/addon/bulk-cloner/">Bulk Cloner</a> creates clones of existing blogs on the network.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/cdn-workaround/">CDN Workaround</a> works around faulty CDNs that do not report the correct URL for attachments.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/copy-options/">Copy options</a> copies blog options / settings between blogs.<li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/custom-field-cleanup/">Custom Field Cleanup</a>: Cleans up the custom fields of a post.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/lock-post/">Lock Post</a> allows users to lock editing of posts / pages to only themselves and super admins.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/manual-post-actions/">Manual Post Actions</a> manually runs bulk post actions on posts.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/media-cleanup/">Media Cleanup</a>: cleans up unused media by looking for unused items in the database and on disk.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/menus/">Menus</a> copies menus between blogs (overwrite / update), with support for equivalent child posts on the child blogs and equivalent taxonomies.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/page-content-shortcode/">Page Content Shortcode</a> provides a <code>[bc_page_content slug="pageslug"]</code> shortcode to display the contents of a page.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/php-code/">PHP Code</a> - Run custom PHP code on selected blogs. Easily switch themes for all blogs, for example.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/shortcodes/">Shortcodes</a> provides arbitrary admin-defined global or local shortcodes.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/sitemaps/">Sitemaps</a> generates network-aware sitemaps and robots.txt.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/sync-taxonomies/">Sync Taxonomies</a> synchronize the taxonomies of target blogs with those from a source blog.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/user-role-sync/">User Role Sync</a> copies user roles between blogs.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/widgets/">Widgets</a> copies widget and sidebar settings between blogs.</li>
		</ul>
	</div>

	<br/>

	<p><a href="https://broadcast.plainviewplugins.com/" class="readmore">Read more about the packs</a></p>

</div>
